<nav>
  <div >
          <ul class="nav-first-row">
              <div style="float: left">
                  <li style="float: left"><a routerLink="/dashboard" routerLinkActive="active">{{this.appName}} Dashboard</a></li>
              </div>
              <div style="float: right">                 
                  <li style="float: left"><a routerLink="/login" routerLinkActive="active">LOGIN</a></li>
                  <!--<li style="float: left"><a routerLink="/login" routerLinkActive="active">REGISTER</a></li>
                  <li style="float: right"><a routerLink="/login" routerLinkActive="active">ABOUT</a></li>-->
              </div>
          </ul>
  </div>
</nav>
<router-outlet></router-outlet>
