#nav-first-row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:dodgerblue;
    position: fixed;
    top: 0;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    height: 50px;
    font-size: larger;
}

#nav-first-row li {
    display: inline;
}

#nav-first-row li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-first-row li a:hover:not(.active) {
    background-color: #111;
}

#nav-first-row .active {
    background-color: #4CAF50;
}